.float-left {
    float: left;
}

.float-right {
    float: right;
}

#wrapper {
    padding: 10px;
}

header p {
    display: inline;
}

.container {
    width: 25%;
    text-align: center;
}

h1,
p {
    margin-bottom: 20px;
}

button {
    background-color: purple;
    color: white;
}

#start-quiz {
    width: 150px;
}

h3 {
    text-align: left;
    height: 100px;
}

ol {
    list-style-type: none;
    padding-left: 0px;
    text-align: left;
}

li {
    margin-bottom: 8px;
}