.float-left {
    float: left;
}

.float-right {
    float: right;
}

#wrapper {
    padding: 10px;
}

header p {
    display: inline;
}

#content {
    width: 25%;
    text-align: left;
    margin: auto;
}

#landing {
    text-align: center;
}

h1,
p {
    margin-bottom: 20px;
}

button {
    background-color: blueviolet;
    color: white;
}

button:hover {
    background-color: mediumpurple;
}

#start-quiz {
    width: 150px;
}

h3 {
    height: 100px;
}

ol {
    list-style-type: none;
    padding-left: 0px;
}

li {
    margin-bottom: 8px;
}

#answer-feedback {
    font-style: italic;
    border-top: 1px solid black;
}

#correct {
    color: green;
}

#incorrect {
    color: red;
}