.float-left {
    float: left;
}

.float-right {
    float: right;
}

#wrapper {
    padding: 10px;
}

.container {
    width: 25%;
    text-align: center;
    margin-top: 24px;
}

h1,
ul {
    margin-bottom: 20px;
}

button {
    width: 150px;
}